# PostgreSQL
POSTGRES_DB=music_school_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5435

# JWT
JWT_PRIVATE_KEY=jwt_tokens/jwt-private.pem
JWT_PUBLIC_KEY=jwt_tokens/jwt-public.pem
JWT_LIFETIME_SECONDS=1800
ALGORITHM=RS256
